# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proiect_Licenta.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Facultate\Licenta\Proiect_Practic\Licenta\Proiect_Licenta\.idea\.idea.Proiect_Licenta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
